.chat-container div:hover{
    background:#f0f2f5;
    padding:2%;
    transition:.25s;
}

.start-chat-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  width:100%;
  color: #65676b;
  text-align: center;
  opacity: 0.8;
}

.start-chat-icon {
  width: 72px;
  height: 72px;
  margin-bottom: 20px;
  border-radius: 50%;
  background: #e4e6eb;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  /* Optionally, add an SVG or emoji for a chat icon */
}

