html{
    scrollbar-width:none;
}
body { 
    background: #f0f2f5; 
}

.sidebar { 
    width: 360px; 
}
.story-img { 
    width: 100%; 
    height: 180px; 
    object-fit: cover; 
    border-radius: 10px; 
}

.profile-pic { 
    width: 40px; 
    height: 40px; 
    border-radius: 50%; 
}

.post-img { 
    width: 100%; 
}

.main-content {
    max-width: 600px; 
    margin: auto; 
}

.right-sidebar{
    height:80vh;
    overflow-x:hidden;
    overflow-y:scroll;
    scrollbar-width:none;
}

.chat-container div:hover{
    background:#f0f2f5;
    padding:2%;
    transition:.25s;
}

.post-terminal { 
    background: #222; 
    color: #b5e853; 
    font-family: monospace; 
    font-size: 13px; 
    padding: 8px; 
    border-radius: 6px; 
}

.nav-icon { 
    font-size: 1.5rem; 
}